<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Esta proyecto ha sido desarrollado por John Castillo en colaboracion con Juan Quemada para el curso Desarrollo de aplicaiones con Node - MiriadaX</p>
    <img src="https://avatars3.githubusercontent.com/u/11579892?v=3&u=4395ffe634704a5989713f1edc189b5a650b201d&s=140" alt="JohnCastillo" style="width:200px;height:150px;">

    <p><a href="/quizes/question">comience a jugar</a></p>

  </body>
</html>
